* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
    height: 100vh;
	background: url(kid.jpg) no-repeat center center fixed;
  	background-size: cover;
	user-select: none;
	overflow: hidden;
}

#tagline, h3, #count_till {
	text-align: center;
	letter-spacing: -0.07em;
	font-weight: bolder;
	font-size: 6em;
	font-family: cursive;
	color: #5b3afd;
	margin-top: 10px;
	padding-bottom: 10px;
}

#tagline {
	text-shadow: 0.07em 0.07em 0.1em rebeccapurple;
}

h3 {
	font-family: Tahoma;
	font-size: 3em;
	color: #BE1234;
}

#voice, #input_box {
	display: flex;
	justify-content: center;
}

select {
    outline: none;
    border: 0 none;
    color: #af2;
    background: transparent;
    font-size: 1.7em;
    font-weight: bold;
    padding: 2px 10px;
	width: 45%;
}

#count_till {
	font-family: Tahoma;
	font-size: 3em;
	color: #FADA45;
}

option {
	background: #182a6a;
}

input[type=number] {
	width: 40%;
	border-radius: 20em;
	padding: 1em;
	margin: 2em;
    border: none;
    outline: none;
    transition: border 0.3s;
}

input[type=number]:focus {
	border-bottom: solid 7px #f78123;
}

#display_numbers {
    content: '&#x2665';
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 4em;
}

#marbles, #words {
	color: aquamarine;
	text-shadow: 0.1em 0.2em 0.03em #333;
	text-transform: capitalize;
	font-size: 6em;
	font-family: 'Verdana';
	font-weight: bolder;
	animation: beat 1s infinite alternate;
	border-radius: 50em;
}

#quiz {
	text-align: center;
}

#quiz > a {
	outline: none;
	text-decoration: none;
	border: 0px;
	border-bottom: 5px;
	border-style: solid;
	border-color: #FF1F26;
	font-size: 3em;
	padding: 0.4em;
	background-color: rgba(0,0,0,0.7);
	color: #bada65;
	font-weight: bolder;
}

@keyframes beat{
	to { transform: scale(1.4); }
}

.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out
}
@keyframes octocat-wave {
    0%, 100% {
        transform: rotate(0)
    }
    20%,
    60% {
        transform: rotate(-25deg)
    }
    40%,
    80% {
        transform: rotate(10deg)
    }
}
@media (max-width: 500px) {
    .github-corner:hover .octo-arm {
        animation: none
    }
    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out
    }
}
