* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
    height: 100vh;
	background: linear-gradient(90deg, rgb(237, 191, 22), rgb(20, 155, 133));
	user-select: none;
	overflow: hidden;
}

#tagline, h3, #count_till {
	text-align: center;
	letter-spacing: -0.07em;
	font-weight: bolder;
	font-size: 5em;
	font-family: cursive;
	color: #FADA45;
	margin-top: 10px;
	padding-bottom: 10px;
}

h3 {
	font-size: 2em;
	color: #BE1234;
}

#voice, #input_box {
	display: flex;
	justify-content: center;
}

select {
    outline: none;
    border: 0 none;
    color: #af2;
    background: transparent;
    font-size: 1.7em;
    font-weight: bold;
    padding: 2px 10px;
	width: 45%;
}

#count_till {
	font-size: 2em;
	color: #11AAA2;
}

option {
	background: #182a6a;
}

input[type=number] {
	width: 40%;
	padding: 1em;
	margin: 2em;
    border: none;
    outline: none;
    transition: border 0.3s;
}

input[type=number]:focus {
	border-bottom: solid 7px #f78123;
}

#display_numbers {
  	content: '&#x2665';
    display: flex;
    justify-content: center;
    padding: 4em;
}

.marbles {
	font-size: 6em;
	font-family: 'Verdana';
	font-weight: bolder;
	animation: beat 1s infinite alternate;
	border-radius: 50em;
}

@keyframes beat{
	to { transform: scale(1.4); }
}
